body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bookshelf {
  overflow: hidden;
}

.bookshelf-heading {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  color: #efefef;
  background-color: rgba(119, 172, 184, 0.933); 
}

.book-category {
  margin: 5rem 0;
  padding: 0 7rem;
}

.category-title {
  text-align: left;
  font-size: 22px;
  border-bottom: 1px solid #efefef;
  margin: 3rem 0;
  padding: 1rem 0;
}

.list-books {
  display: flex;
  list-style: none;
  flex-wrap: wrap
}

.book {
  flex: 1;
  min-width: 300px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 2rem 0;
}

.book-image {
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 100px;
  background-position: center;
  background-size: contain;
}

.no-img-found {
  width: 150px;
}

.book-title {
  max-width: 60%;
  padding: 1rem 0;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.book-author {
  max-width: 60%;
  margin: 0 auto;
  font-size: 15px;
  color: #888;
  text-align: center;
}

.search-link,
.no-books a {
  color: #000;
}


.book-author span {
  display: block;
}

.book select {
  margin: 1rem 0;
}

.loadingMsg {
  text-align: center;
}

.search-link-container {
  text-align: center;
  margin: 1rem 0;
}

.search-page {
  text-align: center;
}

.search-books {
  width: 60%;
  min-height: 1rem;  
  border-radius: 5px;
  padding: 1rem;
}

.bookshelf-link {
  display: block;
  margin: 1rem 0;
  color: #000;
}